//
// Component: Overlay
//
// ========================================================================


// Variables
// ========================================================================

$overlay-padding-horizontal:                     $global-gutter;
$overlay-padding-vertical:                       $global-gutter;
$overlay-default-background:                     rgba($white, .15);
$overlay-primary-background:                     rgba(4, 2, 25, .55);
$overlay-primary-color-mode:                     light;
