//
// Component: Height
//
// ========================================================================


// Variables
// ========================================================================

$height-small-height:                            200px;
$height-medium-height:                           300px;
$height-large-height:                            550px;
