//
// Component: Button
//
// ========================================================================


// Variables
// ========================================================================

$button-border-width:                            $global-border-width;

$button-line-height:                             $global-control-height - ($button-border-width * 2);
$button-small-line-height:                       $global-control-small-height - ($button-border-width * 2);
$button-large-line-height:                       $global-control-large-height - ($button-border-width * 2);

$button-font-size:                               $global-font-size;
$button-small-font-size:                         $global-small-font-size;
$button-large-font-size:                         $global-font-size * 1.1;

$button-padding-horizontal:                      $global-gutter;
$button-small-padding-horizontal:                $global-small-gutter;
$button-large-padding-horizontal:                $global-gutter;

$button-default-background:                      $muted-dark;
$button-default-color:                           $white;
$button-default-hover-background:                $emphasis;
$button-default-hover-color:                     $global-inverse-color;
$button-default-active-background:               $secondary;
$button-default-active-color:                    $global-inverse-color;

$button-primary-background:                      $global-primary-background;
$button-primary-color:                           $global-inverse-color;
$button-primary-hover-background:                scale-color($button-primary-background, $blackness: 20%);
$button-primary-hover-color:                     $global-inverse-color;
$button-primary-active-background:               scale-color($button-primary-background, $blackness: 30%);
$button-primary-active-color:                    $global-inverse-color;

$button-secondary-background:                    $global-secondary-background;
$button-secondary-color:                         $global-inverse-color;
$button-secondary-hover-background:              scale-color($button-secondary-background, $blackness: 20%);
$button-secondary-hover-color:                   $global-inverse-color;
$button-secondary-active-background:             scale-color($button-secondary-background, $blackness: 30%);
$button-secondary-active-color:                  $global-inverse-color;

$button-danger-background:                       $global-danger-background;
$button-danger-color:                            $global-inverse-color;
$button-danger-hover-background:                 scale-color($button-danger-background, $blackness: 5%);
$button-danger-hover-color:                      $global-inverse-color;
$button-danger-active-background:                scale-color($button-danger-background, $blackness: 10%);
$button-danger-active-color:                     $global-inverse-color;

$button-disabled-background:                     $gray-200;
$button-disabled-color:                          $gray-500;

$button-text-line-height:                        $global-line-height;
$button-text-color:                              $global-color;
$button-text-hover-color:                        $global-emphasis-color;
$button-text-disabled-color:                     $gray-300;

$button-link-line-height:                        $global-line-height;
$button-link-color:                              $global-link-color;
$button-link-hover-color:                        $global-link-hover-color;
$button-link-hover-text-decoration:              none;
$button-link-disabled-color:                     $gray-400;

$button-text-transform:                          uppercase;

$button-default-border:                          transparent;
$button-default-hover-border:                    $button-default-border;
$button-default-active-border:                   $button-default-border;

$button-disabled-border:                         transparent;

$button-text-border:                             $button-text-hover-color;
$button-text-border-width:                       $global-border-width;



// Inverse
// ========================================================================

$inverse-button-default-background:              $global-emphasis-color;
$inverse-button-default-color:                   $inverse-global-emphasis-color;
$inverse-button-default-hover-background:        scale-color($global-emphasis-color, $blackness: 5%);
$inverse-button-default-hover-color:             $inverse-global-emphasis-color;
$inverse-button-default-active-background:       scale-color($global-emphasis-color, $blackness: 10%);
$inverse-button-default-active-color:            $inverse-global-emphasis-color;

$inverse-button-primary-background:              $global-primary-background;
$inverse-button-primary-color:                   $global-inverse-color;
$inverse-button-primary-hover-background:        scale-color($button-primary-background, $blackness: 5%);
$inverse-button-primary-hover-color:             $global-inverse-color;
$inverse-button-primary-active-background:       scale-color($button-primary-background, $blackness: 10%);
$inverse-button-primary-active-color:            $global-inverse-color;

$inverse-button-secondary-background:            $inverse-global-primary-background;
$inverse-button-secondary-color:                 $inverse-global-inverse-color;
$inverse-button-secondary-hover-background:      scale-color($inverse-button-secondary-background, $blackness: 5%);
$inverse-button-secondary-hover-color:           $inverse-global-inverse-color;
$inverse-button-secondary-active-background:     scale-color($inverse-button-secondary-background, $blackness: 10%);
$inverse-button-secondary-active-color:          $inverse-global-inverse-color;

$inverse-button-text-color:                      $inverse-global-emphasis-color;
$inverse-button-text-hover-color:                $primary-dark;
$inverse-button-text-disabled-color:             $inverse-global-muted-color;

$inverse-button-link-color:                      $inverse-global-muted-color;
$inverse-button-link-hover-color:                $inverse-global-color;
