//
// Component: Heading
//
// ========================================================================


// Variables
// ========================================================================

$heading-medium-font-size-l:                     2.65rem;
$heading-small-font-size-m:                      $heading-medium-font-size-l * 0.8125;
$heading-small-font-size:                        $heading-small-font-size-m * 0.8;
$heading-medium-font-size-m:                     $heading-medium-font-size-l * 0.875;
$heading-medium-font-size:                       $heading-medium-font-size-m * 0.825;
$heading-large-font-size-m:                      $heading-medium-font-size-l;
$heading-large-font-size:                        $heading-large-font-size-m * 0.85;
$heading-xlarge-font-size:                       $heading-large-font-size-m;
$heading-large-font-size-l:                      4.5rem;
$heading-xlarge-font-size-m:                     $heading-large-font-size-l;
$heading-2xlarge-font-size:                      $heading-xlarge-font-size-m;
$heading-xlarge-font-size-l:                     5.5rem;
$heading-2xlarge-font-size-m:                    $heading-xlarge-font-size-l;
$heading-2xlarge-font-size-l:                    8rem;

$heading-small-line-height:                      1.2;
$heading-medium-line-height:                     1.1;
$heading-large-line-height:                      1.1;
$heading-xlarge-line-height:                     1;
$heading-2xlarge-line-height:                    1;

$heading-divider-padding-bottom:                 unquote('calc(5px + 0.1em)');
$heading-divider-border-width:                   unquote('calc(0.2px + 0.075em)');  //unquote('calc(0.2px + 0.05em)');
$heading-divider-border:                         $primary;

$heading-bullet-top:                             unquote('calc(-0.1 * 1em)');
$heading-bullet-height:                          unquote('calc(4px + 0.7em)');
$heading-bullet-margin-right:                    unquote('calc(5px + 0.2em)');
$heading-bullet-border-width:                    unquote('calc(5px + 0.1em)');
$heading-bullet-border:                          $global-border;

$heading-line-top:                               50%;
$heading-line-border-width:                      unquote('calc(0.2px + 0.05em)');
$heading-line-height:                            $heading-line-border-width;
$heading-line-width:                             2000px;
$heading-line-border:                            $global-border;
$heading-line-margin-horizontal:                 unquote('calc(5px + 0.3em)');

$heading-primary-font-size-l:                    3.75rem;
$heading-primary-line-height-l:                  1.1;
$heading-primary-font-size-m:                    $heading-primary-font-size-l * 0.9;
$heading-primary-font-size:                      $heading-primary-font-size-l * 0.8;
$heading-primary-line-height:                    1.2;

$heading-hero-font-size-l:                       8rem;
$heading-hero-line-height-l:                     1;
$heading-hero-font-size-m:                       $heading-hero-font-size-l * 0.75;
$heading-hero-line-height-m:                     1;
$heading-hero-font-size:                         $heading-hero-font-size-l * 0.5;
$heading-hero-line-height:                       1.1;


// Inverse
// ========================================================================

$inverse-heading-divider-border:                 $inverse-global-border;
$inverse-heading-bullet-border:                  $inverse-global-border;
$inverse-heading-line-border:                    $inverse-global-border;
