//
// Component: List
//
// ========================================================================


// Variables
// ========================================================================

$list-margin-top:                                $global-small-margin;
$list-padding-left:                              25px;
$list-marker-height:                             ($global-line-height * 1em);
$list-muted-color:                               $global-muted-color;
$list-emphasis-color:                            $global-emphasis-color;
$list-primary-color:                             $global-primary-background;
$list-secondary-color:                           $global-secondary-background;
$list-bullet-icon-color:                         $global-color;
$list-divider-margin-top:                        $global-small-margin;
$list-divider-border-width:                      $global-border-width;
$list-divider-border:                            $global-border;
$list-striped-padding-vertical:                  $global-small-margin;
$list-striped-padding-horizontal:                $global-small-margin;
$list-striped-background:                        $global-muted-background;
$list-large-margin-top:                          $global-margin;
$list-large-divider-margin-top:                  $global-margin;
$list-large-striped-padding-vertical:            $global-margin;
$list-large-striped-padding-horizontal:          $global-small-margin;
$list-striped-border-width:                      $global-border-width;
$list-striped-border:                            $global-border;


// Inverse
// ========================================================================

$inverse-list-muted-color:                       $inverse-global-muted-color;
$inverse-list-emphasis-color:                    $inverse-global-emphasis-color;
$inverse-list-primary-color:                     $inverse-global-primary-background;
$inverse-list-secondary-color:                   $inverse-global-primary-background;
$inverse-list-divider-border:                    $inverse-global-border;
$inverse-list-striped-background:                $inverse-global-muted-background;
$inverse-list-bullet-icon-color:                 $inverse-global-color;
