//
// Component: Dotnav
//
// ========================================================================


// Variables
// ========================================================================

$dotnav-margin-horizontal:                       20px;
$dotnav-margin-vertical:                         $dotnav-margin-horizontal;

$dotnav-item-width:                              16px;
$dotnav-item-height:                             $dotnav-item-width;

$dotnav-item-border-radius:                      50%;
$dotnav-item-background:                         transparent;
$dotnav-item-hover-background:                   rgba($global-color, .3);
$dotnav-item-onclick-background:                 rgba($global-color, .2);
$dotnav-item-active-background:                  $primary;

$dotnav-item-border-width:                       1px;
$dotnav-item-border:                             rgba($global-color, .3);
$dotnav-item-hover-border:                       rgba($global-color, .3);
$dotnav-item-onclick-border:                     rgba($global-color, .3);
$dotnav-item-active-border:                      transparent;


// Inverse
// ========================================================================

$inverse-dotnav-item-border:                     rgba($inverse-global-color, .2);
$inverse-dotnav-item-background:                 rgba($inverse-global-color, .3);
$inverse-dotnav-item-hover-background:           rgba($inverse-global-color, .9);
$inverse-dotnav-item-onclick-background:         rgba($inverse-global-color, .5);
$inverse-dotnav-item-active-background:          rgba($inverse-global-color, .7);
