//
// Component: Iconnav
//
// ========================================================================


// Variables
// ========================================================================

$iconnav-margin-horizontal:                      $global-small-margin;
$iconnav-margin-vertical:                        $iconnav-margin-horizontal;

$iconnav-item-color:                             $global-link-color;
$iconnav-item-hover-color:                       $global-link-hover-color;
$iconnav-item-active-color:                      $global-link-color;

// Inverse
// ========================================================================

$inverse-iconnav-item-color:                     $inverse-global-color;
$inverse-iconnav-item-hover-color:               $global-link-color;
$inverse-iconnav-item-active-color:              $global-link-color;
