//
// Component: Navbar
//
// ========================================================================



// Component
// ========================================================================

@mixin hook-navbar(){
	.uk-logo {
		transition: color 100ms ease-in-out;

		&:hover {
			color: $navbar-nav-item-hover-color;
		}
	}
}


// Container
// ========================================================================

@mixin hook-navbar-container(){
    transition: $transition-duration background-color ease-out;
}


// Nav
// ========================================================================


// Item
// ========================================================================

@mixin hook-navbar-nav-item(){
	font-weight: $navbar-nav-item-font-weight;
	text-transform: $navbar-nav-item-text-transform;
	letter-spacing: calc(1rem / 18);
	transition: 100ms ease-in-out;
	transition-property: color, background-color;
	white-space: nowrap;
	position: relative;
}

// @mixin hook-navbar-nav-item-hover(){
//     &::after {
//         transform: scaleX(1);
//     }
// }

// @mixin hook-navbar-nav-item-onclick(){}

// @mixin hook-navbar-nav-item-active(){
//     &::after {
//         transform: scaleX(1);
//     }
// }




// Toggle
// ========================================================================

@mixin hook-navbar-toggle(){
	font-weight: $navbar-nav-item-font-weight;

	&.uk-button-secondary {
		color: $button-secondary-color;
	}
}
@mixin hook-navbar-toggle-hover(){
	&.uk-button-secondary {
		color: $button-secondary-hover-color;
	}
}
// @mixin hook-navbar-toggle-icon(){}
// @mixin hook-navbar-toggle-icon-hover(){}


// Subtitle
// ========================================================================

// @mixin hook-navbar-subtitle(){}


// Style modifiers
// ========================================================================

// @mixin hook-navbar-primary(){}

// @mixin hook-navbar-transparent(){}

// @mixin hook-navbar-sticky(){
//     .uk-logo {
//         max-width: 10em;
//     }
// }


// Dropdown
// ========================================================================



@mixin hook-navbar-dropdown(){
	.uk-nav-sub a {
		font-weight: $base-strong-font-weight;
	}
}
// @mixin hook-navbar-dropdown-dropbar(){}



// Dropdown nav
// ========================================================================


// @mixin hook-navbar-dropdown-nav(){}
@mixin hook-navbar-dropdown-nav-item(){
	font-size: $navbar-dropdown-nav-font-size;
	font-family: $navbar-nav-item-font-family;
	font-weight: $navbar-nav-item-font-weight;
	text-transform: $navbar-nav-item-text-transform;
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
	// padding: $global-small-margin $global-margin;
}
// @mixin hook-navbar-dropdown-nav-item-hover(){
//     background: $secondary-light;
//     color: initial;
// }
// @mixin hook-navbar-dropdown-nav-item-active(){}
// @mixin hook-navbar-dropdown-nav-header(){}
// @mixin hook-navbar-dropdown-nav-divider(){}



// Dropbar
// ========================================================================

// @mixin hook-navbar-dropbar(){}
// @mixin hook-navbar-dropbar-slide(){}




// Miscellaneous
// ========================================================================
@mixin hook-navbar-misc(){
	:root {
		--navbar-nav-item-color: #{$navbar-nav-item-color};
	}

	// Top border on dropdowns
	// .uk-navbar-dropdown {
	//     &::before {
	//         content: '';
	//         border-top: 3px solid $secondary;
	//         position: absolute;
	//         top: -3px;
	//         height:1px;
	//         width: 100%;
	//     }
	// }

	// @media screen and (min-width: $breakpoint-large) {
	//     .uk-navbar-right > :not(.uk-grid-stack) {
	//         :first-child { order: -1; }
	//     }
	// }

	// No underlines except on main menu,
	// no underlines on parents of subnavs
	// li.uk-parent > a::after,
	// .uk-navbar-nav:not(#menu-main-menu) > li > a::after {
	//     display: none;
	// }

	.uk-navbar .uk-navbar-nav > .uk-navbar-item > a {
		height: $navbar-nav-item-height;
	}
	// .uk-navbar .uk-navbar-nav > .uk-navbar-item,
	// .uk-navbar .uk-navbar-nav > li {
	//     padding-top: $navbar-padding-vertical;
	//     padding-bottom: $navbar-padding-vertical;

	//     @media screen and(min-width: $breakpoint-medium) {
	//         padding-top: $navbar-padding-vertical-m;
	//         padding-bottom: $navbar-padding-vertical-m;
	//     }
	// }


	// Divider before
	.uk-navbar ul.uk-navbar-nav.divider {
		padding-left: $global-gutter;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: $navbar-padding-vertical;
			bottom: $navbar-padding-vertical;
			left: calc(#{$global-gutter} / 2);
			border-left: $grid-divider-border-width solid $grid-divider-border;

			@media screen and (min-width: $breakpoint-medium) {
				top: $navbar-padding-vertical-m;
				bottom: $navbar-padding-vertical-m;
			}
		}
	}
}




// Inverse
// ========================================================================

// @mixin hook-inverse-navbar-nav-item(){}
// @mixin hook-inverse-navbar-nav-item-hover(){}
// @mixin hook-inverse-navbar-nav-item-onclick(){}
// @mixin hook-inverse-navbar-nav-item-active(){}
// @mixin hook-inverse-navbar-item(){}
// @mixin hook-inverse-navbar-toggle(){}
// @mixin hook-inverse-navbar-toggle-hover(){}
