// Name:            Base
// Description:     Default values for HTML elements
//
// Component:       `uk-link`
//                  `uk-h1`, `uk-h2`, `uk-h3`, `uk-h4`, `uk-h5`, `uk-h6`
//                  `uk-hr`
//
// ========================================================================
@use '../../vendor/bourbon/core/bourbon';

// Variables
// ========================================================================

$base-body-background:                           $global-background;

$base-body-font-family:                          $theme-font-family;
$base-body-font-weight:                          300;
$base-body-font-size:                            $global-font-size;

$base-body-line-height:                          $global-line-height;
$base-body-color:                                $global-color;

$base-link-color:                                $global-link-color;
$base-link-text-decoration:                      none;
$base-link-hover-color:                          $global-link-hover-color;
$base-link-hover-text-decoration:                none;

$base-strong-font-weight:                        600;
$base-code-font-size:                            $global-small-font-size;
$base-code-font-family:                          bourbon.$font-stack-consolas;
$base-code-color:                                $global-color;
$base-em-color:                                  inherit;
$base-ins-background:                            transparent;
$base-ins-color:                                 inherit;
$base-mark-background:                           #ffd;
$base-mark-color:                                $global-color;
$base-quote-font-style:                          italic;
$base-small-font-size:                           80%;

$base-margin-vertical:                           $global-margin;

$base-heading-font-family:                       $theme-heading-font-family;
$base-heading-font-weight:                       600;
$base-heading-color:                             $global-color;
$base-heading-text-transform:                    none;
$base-heading-margin-top:                        $global-large-margin * 0.45; //$global-medium-margin

$base-h1-font-size-m:                            $global-2xlarge-font-size;
$base-h1-font-size:                              $base-h1-font-size-m * 0.85;
$base-h1-line-height:                            1.25;
$base-h2-font-size-m:                            $global-xlarge-font-size;
$base-h2-font-size:                              $base-h2-font-size-m * 0.85;
$base-h2-line-height:                            1.25;
$base-h3-font-size:                              $global-large-font-size;
$base-h3-line-height:                            1.25;
$base-h4-font-size:                              $global-medium-font-size;
$base-h4-line-height:                            1.25;
$base-h5-font-size:                              $global-font-size;
$base-h5-line-height:                            1.25;
$base-h6-font-size:                              $global-small-font-size;
$base-h6-line-height:                            1.25;

$base-list-padding-left:                         30px;

$base-hr-margin-vertical:                        $global-margin;
$base-hr-border-width:                           1px;
$base-hr-border:                                 $muted-light;

$base-blockquote-font-size:                      1.15rem;
$base-blockquote-line-height:                    $global-line-height;
$base-blockquote-font-style:                     normal;
$base-blockquote-margin-vertical:                $global-margin;
$base-blockquote-footer-margin-top:              $global-small-margin;
$base-blockquote-footer-font-size:               1.15rem;
$base-blockquote-footer-line-height:             $global-line-height;

$base-pre-font-size:                             $global-small-font-size;
$base-pre-line-height:                           1.5;
$base-pre-font-family:                           $base-code-font-family;
$base-pre-color:                                 $global-color;

$base-selection-background:                      rgba($primary-dark, .88);
$base-selection-color:                           $global-inverse-color;

$base-code-padding-horizontal:                   6px;
$base-code-padding-vertical:                     2px;
$base-code-background:                           $global-muted-background;



// Inverse
// ========================================================================

$inverse-base-color:                             $inverse-global-color;
$inverse-base-link-color:                        $inverse-global-color;
$inverse-base-link-hover-color:                  $inverse-global-color;
$inverse-base-code-color:                        $inverse-global-color;
$inverse-base-em-color:                          $inverse-global-emphasis-color;
$inverse-base-heading-color:                     $inverse-global-color;
$inverse-base-hr-border:                         $inverse-global-border;
$inverse-base-blockquote-color:                  $inverse-global-emphasis-color;
$inverse-base-blockquote-footer-color:           $inverse-global-color;
