//
// Component: Off-canvas
//
// ========================================================================



// Bar
// ========================================================================

@mixin hook-offcanvas-bar(){

    > ul.uk-nav {
        > li > a { padding: 0; column-gap: 0; }
        > li.menu-item:not(:first-child) > a { margin-top: $base-margin-vertical; }
        > li.menu-item {
            // > a { font-weight: 700; }
            > ul.uk-nav > li > a {
                column-gap: 0;
                padding: 0;
            }

            > ul.uk-nav > li > ul.uk-nav { display: none; }
        }
    }
}


// Close
// ========================================================================

// @mixin hook-offcanvas-close(){}


// Overlay
// ========================================================================

// @mixin hook-offcanvas-overlay(){}


// Miscellaneous
// ========================================================================

// @mixin hook-offcanvas-misc(){}
