//
// Component: Slideshow
//
// ========================================================================

@mixin hook-slideshow(){
    &.uk-slideshow-hero {

        // Small screens run into wrapping issues, so cap the font-sizes.
        @media screen and (max-width: $breakpoint-xsmall-max) {

            .slide-content { margin: 0 !important; }

            h3, h4, h5, h6,
            .uk-h3, .uk-h4, .uk-h5, .uk-h6,
            p { font-size: 1rem; }

            h1, h2, .uk-h1, .uk-h2,
            [class*=uk-heading-] {
                font-size: 2.5rem;
            }
        }
    //     .slide-heading,
    //     .slide-content {
    //         pointer-events: none;
    //         user-select: none;
    //     }

    //     .slide-heading, .slide-content {
    //         text-shadow: 0px 0px 30px rgba($black, 1.0);
    //     }

    //     .slide-content .uk-grid-divider > :not(.uk-first-column)::before {
    //         border-left-color: $secondary;
    //         border-left-width: 2px;
    //     }
    //     .slide-content .uk-grid-divider.uk-grid-stack>.uk-grid-margin::before {
    //         border-top: 0 !important;
    //     }
    //     .slide-content.uk-text-lead {
    //         font-size: $base-body-font-size;
    //     }
    }

}


// Miscellaneous
// ========================================================================

// @mixin hook-slideshow-misc(){}