//
// Component: Global
//
// ========================================================================

// Global variables
// ========================================================================
@use '../../vendor/bourbon/core/bourbon';
@use 'sass:list';

// $base-body-font-family: base body text   [base.scss]
// $global-font-family: everything else     [variables.scss]

// $font-stack-helvetica
// $font-stack-lucida-grande
// $font-stack-verdana
// $font-stack-system
// $font-stack-garamond
// $font-stack-georgia
// $font-stack-hoefler-text
// $font-stack-consolas
// $font-stack-courier-new
// $font-stack-monaco

// $theme-font-family is referenced in base.scss ( $base-body-font-family: $theme-font-family; )

$theme-font-family:                              'Proxima Nova', bourbon.$font-stack-helvetica;
$theme-heading-font-family:                      $theme-font-family;
$theme-alt-font-family:                          $theme-font-family;


// For fine-tuning the body text and headings, change the values in base.scss!

$global-font-family:                             $theme-font-family;
$global-font-size:                               18px;
$global-line-height:                             1.6;

// These affect a lot of elements throughout the site! For more precise styling,
// see text.scss, heading.scss, article.scss, and other component-specific .scss.
$global-small-font-size:                         0.875rem;
$global-medium-font-size:                        1.35rem;
$global-large-font-size:                         1.5rem;
$global-xlarge-font-size:                        2rem;
$global-2xlarge-font-size:                       2.625rem;


//
// Colors
//

// Also update these colors in functions.php

/// @type Color
$default:           #555555;    // Text color.

$primary:           #003e72;    // Indicates the primary action.
$secondary:         #02b5ea;    // Indicates an important action.
$emphasis:          #5278E0;       // Could be an alternate text/heading color.
$muted:             #F1F1F1;    // Usually a light, non-white background color.

// Overrides
// Define any color variant overrides here as Sass variables and they will be
// used instead of the automatically generated variants (see below, Color Variants and CSS Variables).

// $primary-lighter:    #CCDCEC;
// $primary-light:      #5278E0;
$primary-dark:       #174172;
// $primary-darker:     #006a37;

// $secondary-lighter:  #555089;
// $secondary-light:    #9FC9D7;
// $secondary-dark:     #356B98;
// $secondary-darker:   #0f0b34;

// $emphasis-lighter:  #5c5c5c;
// $emphasis-light:    #474747;
// $emphasis-dark:     #2e2e2e;
// $emphasis-darker:   #292929;

// $muted-lighter:  #f2f2f2;
$muted-light:    #f9f9f9;
$muted-dark:     #8A8A8A;
$muted-darker:   #54595F;


$white:             #fff;
$black:             #000;

/// Using a map allows us to easily extend UIkit's color scheme.
/// @type Map
$theme-colors: (
	'primary':   $primary,
	'secondary': $secondary,
	'emphasis':  $emphasis,
	'muted':     $muted,
);

//
// Color Variants and CSS Variables
// (for Primary, Secondary, Emphasis only)
//
// UIkit component classes for color variants are generated with these suffixes:
//      -dark
//      -light
// For example, .uk-button-primary-dark, .uk-section-secondary-light,
// .uk-background-primary-dark, and so on. If you need more complexity, define
// your selector in the relevant component's file: [component]-mixins.scss.

// CSS variables are also generated for -darker, -dark, -light, -lighter,
// so you can use var(--primary), var(--primary-dark), var(--secondary-lighter),
// etc., when you can't use SCSS (such as within WordPress itself).

// The work is done in the file /assets/scss/vendors-extensions/uikit-colors, which
// you should not need to change.


// Generate light and dark variants for each theme color.
// These can be manually overridden above.
$primary-light:       lighten($primary, 10%) !default;
$primary-lighter:     lighten($primary-light, 10%) !default;
$primary-dark:        darken($primary, 10%) !default;
$primary-darker:      darken($primary-dark, 10%) !default;

$secondary-light:     lighten($secondary, 10%) !default;
$secondary-lighter:   lighten($secondary-light, 10%) !default;
$secondary-dark:      darken($secondary, 10%) !default;
$secondary-darker:    darken($secondary-dark, 10%) !default;

$emphasis-light:     lighten($emphasis, 10%) !default;
$emphasis-lighter:   lighten($emphasis-light, 10%) !default;
$emphasis-dark:      darken($emphasis, 10%) !default;
$emphasis-darker:    darken($emphasis-dark, 10%) !default;

$muted-light:     lighten($muted, 10%) !default;
$muted-lighter:   lighten($muted-light, 10%) !default;
$muted-dark:      darken($muted, 10%) !default;
$muted-darker:    darken($muted-dark, 10%) !default;

/// Gray system (Bootstrap 5.0) - warm grays
/// @link https://getbootstrap.com/docs/5.0/customize/color/
/// @type Color
$gray-100:      #f8f9fa;
$gray-200:      #e9ecef;
$gray-300:      #dee2e6;
$gray-400:      #ced4da;
$gray-500:      #adb5bd;
$gray-600:      #6c757d;
$gray-700:      #495057;
$gray-800:      #343a40;
$gray-900:      #212529;


//
// Global Colors
//
$global-color:                                   $default;
$global-inverse-color:                           $white;

$global-emphasis-color:                          $emphasis;
$global-muted-color:                             $gray-700;

$global-link-color:                              $secondary;
$global-link-hover-color:                        $primary;



//
// Backgrounds
//
$global-background:                              $white;
$global-primary-background:                      $primary;
$global-secondary-background:                    $secondary;
$global-muted-background:                        $muted;

$global-success-background:                      #32d296;
$global-warning-background:                      #faa05a;
$global-danger-background:                       #f0506e;

//
// Borders
//
$global-border-width:                            2px;
$global-border:                                  $muted;

$global-small-box-shadow:                        0 2px 8px rgba(0,0,0,0.08);
$global-medium-box-shadow:                       0 5px 15px rgba(0,0,0,0.08);
$global-large-box-shadow:                        0 14px 25px rgba(0,0,0,0.16);
$global-xlarge-box-shadow:                       0 28px 50px rgba(0,0,0,0.16);


//
// Spacings
//

$global-margin:                                  15px;

$global-small-margin:                            10px;
$global-medium-margin:                           35px;
$global-large-margin:                            70px;
$global-xlarge-margin:                           100px;


$global-gutter:                                  25px;

$global-large-gutter:                            60px;
$global-medium-gutter:                           35px;
$global-small-gutter:                            15px;


$breakpoint-small:      640px;
$breakpoint-medium:     960px;
$breakpoint-large:      1200px;
$breakpoint-xlarge:     1600px;

// Needed for the respond-to function
$breakpoints: (
	'small': $breakpoint-small,
	'medium': $breakpoint-medium,
	'large': $breakpoint-large,
	'xlarge': $breakpoint-xlarge,
);


//
// Controls
//
$global-control-height:                          46px;
$global-control-large-height:                    60px;
$global-control-small-height:                    36px;

//
// Z-index
//
$global-z-index:                                 1000;




// Inverse
// ========================================================================

$inverse-global-color-mode:                      light; // 'none' to disable inverse module

$inverse-global-color:                           rgba($global-inverse-color, 1);

$inverse-global-inverse-color:                   $global-color;
$inverse-global-emphasis-color:                  $global-inverse-color;
$inverse-global-muted-color:                     $global-inverse-color; //rgba($global-inverse-color, 0.5);

$inverse-global-primary-background:              $global-inverse-color;
$inverse-global-muted-background:                $white;

$inverse-global-border:                          $global-inverse-color; //rgba($global-inverse-color, 0.2);


// Generate Extended Color Variables
// ========================================================================

// Alterations to this section are not usually necessary, unless you
// need to add dark/light variations to more UIkit components, or fine-tune
// how those variations appear.

$theme-colors-variants: (
	'primary-light':        $primary-light,
	'primary-lighter':      $primary-lighter,
	'primary-dark':         $primary-dark,
	'primary-darker':       $primary-darker,
	'secondary-light':      $secondary-light,
	'secondary-lighter':    $secondary-lighter,
	'secondary-dark':       $secondary-dark,
	'secondary-darker':     $secondary-darker,
	'emphasis-light':       $emphasis-light,
	'emphasis-lighter':     $emphasis-lighter,
	'emphasis-dark':        $emphasis-dark,
	'emphasis-darker':      $emphasis-darker,
	'muted-light':          $muted-light,
	'muted-lighter':        $muted-lighter,
	'muted-dark':           $muted-dark,
	'muted-darker':         $muted-darker,
);

