//
// Component: Alert
//
// ========================================================================


// Variables
// ========================================================================

$alert-margin-vertical:                          $global-margin;
$alert-padding:                                  $global-small-gutter;
$alert-padding-right:                            $alert-padding + 14px;
$alert-background:                               $white;
$alert-color:                                    $global-color;
$alert-close-top:                                $alert-padding + 5px;
$alert-close-right:                              $alert-padding;
$alert-primary-background:                       $global-primary-background;
$alert-primary-color:                            $global-inverse-color;
$alert-success-background:                       lighten(mix(white, $global-success-background, 40%), 25%);
$alert-success-color:                            $global-success-background;
$alert-warning-background:                       lighten(mix(white, $global-warning-background, 45%), 15%);
$alert-warning-color:                            $global-warning-background;
$alert-danger-background:                        lighten(mix(white, $global-danger-background, 40%), 20%);
$alert-danger-color:                             $global-danger-background;
$alert-close-opacity:                            1.0;
$alert-close-hover-opacity:                      1.0;
