//
// Component: Badge
//
// ========================================================================


// Variables
// ========================================================================

$badge-size:                                     36px;
$badge-padding-vertical:                         2px;
$badge-padding-horizontal:                       12px;
$badge-border-radius:                            500px;
$badge-background:                               $global-primary-background;
$badge-color:                                    $global-inverse-color;
$badge-font-size:                                $global-medium-font-size * 0.85;


// Inverse
// ========================================================================

$inverse-badge-background:                       $inverse-global-primary-background;
$inverse-badge-color:                            $inverse-global-inverse-color;
