//
// Component: Badge
//
// ========================================================================



// Component
// ========================================================================

@mixin hook-badge() {
	font-weight: 600;
	border: $global-border-width solid $global-border;
	.uk-light .uk-iconnav & {
		background-color: $global-link-color;
		color: $global-inverse-color;
	}
	pointer-events: none;
	user-select: none;
}

@mixin hook-badge-hover(){
	.uk-light .uk-iconnav & {
		color: $global-inverse-color;
	}
}


// Miscellaneous
// ========================================================================

@mixin hook-badge-misc(){
	.uk-badge-small {
		font-size: 75%;
		height: $badge-size * 0.6;
		min-width: $badge-size * 0.6;
		padding: $badge-padding-vertical;
	}
	// Using solid gray since form borders are semi-transparent.
	.uk-badge-form {
		background-color: $gray-600;
		border: $form-border-width solid $gray-600;
	}
}


// Inverse
// ========================================================================

// @mixin hook-inverse-badge(){}
// @mixin hook-inverse-badge-hover(){}
