//
// Component: Close
//
// ========================================================================


// Variables
// ========================================================================

$close-color:                                    $global-color;
$close-hover-color:                              $primary;


// Inverse
// ========================================================================

$inverse-close-color:                            $inverse-global-muted-color;
$inverse-close-hover-color:                      $inverse-global-color;
