//
// Component: Form-range
//
// ========================================================================


// Variables
// ========================================================================

$form-range-thumb-height:                        18px;
$form-range-thumb-width:                         $form-range-thumb-height;
$form-range-thumb-border-radius:                 500px;
$form-range-thumb-background:                    $secondary-lighter;
$form-range-track-height:                        4px;
$form-range-track-background:                    $secondary-light;
$form-range-track-focus-background:              $secondary;
$form-range-thumb-border-width:                  1px;
$form-range-thumb-border:                        $global-border;
$form-range-track-border-radius:                 500px;
