//
// Component: Table
//
// ========================================================================




// Component
// ========================================================================

@mixin hook-table-header-cell(){
	font-family: $table-header-cell-font-family;
	vertical-align: top;
    border: 1px solid $muted-dark;
	white-space: nowrap;

	& + td { padding-left: 0; }

	&.uk-flex { display: flex; }
}

@mixin hook-table-cell(){
	font-size: min($table-header-cell-font-size, $global-font-size);
    border: 1px solid $muted-dark;
}

@mixin hook-table-footer(){
	border-top: 3 * $table-divider-border-width solid $table-divider-border;
}

// @mixin hook-table-caption(){}

// @mixin hook-table-row-active(){}


// Style modifiers
// ========================================================================

// @mixin hook-table-divider(){}



// @mixin hook-table-hover(){}


// Size modifier
// ========================================================================

// @mixin hook-table-small(){}

// @mixin hook-table-large(){}


// Miscellaneous
// ========================================================================

@mixin hook-table-misc(){
	.uk-table-collapse {
		th, td { padding-top: 0; padding-bottom: 0; }
	}
}


// Inverse
// ========================================================================

// @mixin hook-inverse-table-header-cell(){}
// @mixin hook-inverse-table-caption(){}
// @mixin hook-inverse-table-row-active(){}
// @mixin hook-inverse-table-divider(){}

// @mixin hook-inverse-table-hover(){}
