//
// Component: Position
//
// ========================================================================



// Miscellaneous
// ========================================================================

@mixin hook-position-misc(){

    // uk-position-fixed elements will not obey overflow: hidden on the parent.
    // To work around this, we can use clip/clip-path on the parent, but this
    // doesn't work as expected on small screen sizes. So here we're just
    // disabling the fixed positioning and workaround on < medium breakpoints.
    // This only applies to elements that are also meant to cover the parent
    // (and so would otherwise be absolutely positioned).
    @media screen and (max-width: $breakpoint-medium) {
        .uk-cover-container {
            > .uk-position-fixed.uk-position-cover,
            > .uk-position-fixed.uk-cover {
                position: absolute !important;
            }

            &[style*=clip],
            &[style*=clip-path] {
                clip-path: initial !important;
                clip: initial !important;
            }
        }
    }
}
