//
// Component: Text
//
// ========================================================================



// Style modifiers
// ========================================================================

// @mixin hook-text-lead(){}




// Size modifiers
// ========================================================================

// @mixin hook-text-small(){}

// @mixin hook-text-large(){
// 	a:not(.uk-button) {
// 		font-weight: 700;
// 	}
// }


// Background modifier
// ========================================================================

// @mixin hook-text-background(){}


// Miscellaneous
// ========================================================================

@mixin hook-text-misc(){
	.uk-text-global { color: $global-color !important; }
	.uk-light .uk-text-bold { font-weight: 600; }

	.uk-text-black { color: #000 !important; }
	.uk-text-white { color: #fff !important; }

    .uk-text-medium {
        font-size: 20px;
    }
    .uk-text-xlarge {
        font-size: 29px;
    }
    .uk-text-2xlarge {
        font-size: 39px;
    }

	@each $color-name, $color in $theme-colors {
		@each $tone in [ darker dark light lighter ] {
			.uk-text-#{$color-name}-#{$tone} { color: var(--#{$color-name}-#{$tone}) !important; }
		}
	}
}


// Inverse
// ========================================================================

// @mixin hook-inverse-text-lead(){}
// @mixin hook-inverse-text-meta(){}
