@use '../../vendor/bourbon/core/bourbon';

.privacy-policy-link {
    white-space: nowrap;
}

%address-single-line {
    margin-top: 1rem;
    span { display: block; white-space: nowrap; }
    @media (min-width: $breakpoint-medium) {
        margin-top: .25rem;
        span { display: inline-block; }
        span:nth-of-type(2) {
            margin-left: .7rem;
            padding-left: .7rem;
            border-left: 1px solid $primary;
        }
    }
}
%address-single-line-comma {
    span { display: block; }
    @media (min-width: $breakpoint-medium) {
        span { display: inline-block; }
        span:nth-of-type(2)::before {
            content:', ';
        }
    }
}

/**
 * If you're providing clipping path or you haven't added the 'hide-inverse' class to any
 * paths in your SVG, you don't need this.
 */
// .uk-light .hide-inverse { display: none; }

footer .vcard .logo-inverse {
    max-height: 6rem;
    width: auto;
    transform: translate(-5.8%, -20%);
    clip-path: inset(41% 0 0 13%);
    margin-bottom: -5.8%;
}

footer {
    a, a * {
        &:hover { text-decoration: none; }
    }

    hr {
        border-width: 2px;
        border-color: $primary;
    }

    .uk-iconnav>*>a {
        color: $white;

        &:hover,
        &:active {
            color: $primary;
        }

    }

    // make icons a little larger
    // .social .has-icon {
    //     transform: scale(1.5);
    // }
    // .social .uk-icon-button .uk-icon {
    //     transform: scale(1.25);
    // }

    address {

        .address {
            // span:not(.uk-icon) {
                display: block;
                @extend %address-single-line-comma;
            // }
        }

        // on parent, this will separate child <span>s with a vertical bar
        .single-line {
            @extend %address-single-line;
        }
    }
}

.copyright {
    a:hover {
        color: $primary;
        text-decoration: none;
    }

    .uk-nav li {

        &:not(:first-of-type) {
            border-left: 1px solid $primary;
            a { padding-left: $global-small-margin; }
        }

        a {
            padding-right: $global-small-margin;

            &:hover, &:active { color: var(--emphasis); }
        }
    }
}

/* WIDGET CONTENT */
footer .social .has-icon {
    padding: .5rem;
    border-radius: 50%;
    background-color: $secondary-dark;

    &:hover, &:active { color: $global-inverse-color; }
}


/*
 * FORM
 */

.footer-widget {
    .widgettitle {
        margin-bottom: 0;
        text-transform: initial;
    }

    .uk-input, .uk-select, .uk-textarea {
        background-color: rgba($white, .6);
        color: $secondary;
        &[aria-required]:placeholder-shown {
            border-right-color: rgba($secondary, .4);
        }
        &::placeholder {
            color: $gray-600;
        }
        &:focus {
            background-color: rgba($white, .8);
            color: $secondary;
            &::placeholder {
                color: $gray-800;
            }    
        }
    }
    .uk-form-icon {
        color: $gray-600;
    }

    .gfield {
        margin-bottom: $global-small-margin;
    }
    .gform_footer .uk-button {
        @extend .uk-button-primary;
        @include bourbon.padding( null $button-padding-horizontal )
    }
}