//
// Font style: Bold Italic
// Typeface family: Proxima Nova
//______________________________________________________________________________ 

// Rest Latin
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/700i/proxima-nova-700i-rest-latin.woff2') format('woff2'),
         url('../fonts/proxima-nova/700i/proxima-nova-700i-rest-latin.woff') format('woff');
    unicode-range: U+00A1, U+00AA-00AB, U+00AF, U+00B8, U+00BB, U+00BF-00D6, U+00D8-00F6, U+00F8-00FF, U+0131, U+0152-0153, U+02B0-02FF;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
// Latin Extended A
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/700i/proxima-nova-700i-latin-extended-a.woff2') format('woff2'),
         url('../fonts/proxima-nova/700i/proxima-nova-700i-latin-extended-a.woff') format('woff');
    unicode-range: U+0100-0130, U+0132-0151, U+0154-017F;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
// Latin Extended B
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/700i/proxima-nova-700i-latin-extended-b.woff2') format('woff2'),
         url('../fonts/proxima-nova/700i/proxima-nova-700i-latin-extended-b.woff') format('woff');
    unicode-range: U+0180-024F;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
// Latin Extended Additional
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/700i/proxima-nova-700i-latin-extended-additional.woff2') format('woff2'),
         url('../fonts/proxima-nova/700i/proxima-nova-700i-latin-extended-additional.woff') format('woff');
    unicode-range: U+1E00-1EFF;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
// Rest
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/700i/proxima-nova-700i-rest.woff2') format('woff2'),
         url('../fonts/proxima-nova/700i/proxima-nova-700i-rest.woff') format('woff');
    unicode-range: U+0259, U+0300-03C0, U+2070-2073, U+2075-20AB, U+20AD-2121, U+2123-218F, U+21BC-2211, U+2213-2214, U+2216-F8FE, U+FB01-FB02;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
// English
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/700i/proxima-nova-700i-english.woff2') format('woff2'),
         url('../fonts/proxima-nova/700i/proxima-nova-700i-english.woff') format('woff');
    unicode-range: U+0000-00A0, U+00A2-00A9, U+00AC-00AE, U+00B0-00B7, U+00B9-00BA, U+00BC-00BE, U+00D7, U+00F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}
