//
// Component: Accordion
//
// ========================================================================

// Variables
// ========================================================================

$accordion-item-margin-top: $global-margin;
$accordion-title-font-size: $base-h4-font-size;
$accordion-title-line-height: 1.4;
$accordion-title-color: $global-emphasis-color;
$accordion-title-hover-color: $global-link-hover-color;
$accordion-content-margin-top: $global-margin;
$accordion-icon-margin-left: 0;
$accordion-icon-color: $global-color;

// Inverse
// ========================================================================

$inverse-accordion-title-color: $inverse-global-emphasis-color;
$inverse-accordion-title-hover-color: $inverse-global-color;
