//
// Component: Leader
//
// ========================================================================



// Component
// ========================================================================

@mixin hook-leader(){
    color: $muted-darker;
    font-size: .666em;
    letter-spacing: 2px;
}


// Miscellaneous
// ========================================================================

// @mixin hook-leader-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-leader(){}
