//
// Component: Modal
//
// ========================================================================



// Component
// ========================================================================

@mixin hook-modal(){
	backdrop-filter: blur(4px);
}


// Dialog
// ========================================================================

@mixin hook-modal-dialog(){
	> hr { margin: 0; }
}


// Full
// ========================================================================

// @mixin hook-modal-full(){}


// Sections
// ========================================================================



@mixin hook-modal-body(){

	&[uk-overflow-auto] {
		// Use an inobtrusive custom scrollbar
		&::-webkit-scrollbar {
			width: $global-gutter;
		}
		&::-webkit-scrollbar-track {
			background: linear-gradient(90deg, transparent, transparent calc(50% - 1px), #{$muted-dark} calc(50% - 1px), #{$muted-dark} calc(50% + 1px), transparent calc(50% + 1px));
			margin-top: $global-small-gutter;
			margin-bottom: $global-small-gutter;
		}
		&::-webkit-scrollbar-thumb {
			background: linear-gradient(90deg, transparent, transparent calc(50% - 1px), #{$primary} calc(50% - 1px), #{$primary} calc(50% + 1px), transparent calc(50% + 1px));
			&:hover {
				background: linear-gradient(90deg, transparent, transparent calc(50% - 1px), #{$secondary} calc(50% - 1px), #{$secondary} calc(50% + 1px), transparent calc(50% + 1px));
			}
		}
	}

}




// Title
// ========================================================================

// @mixin hook-modal-title(){}


// Close
// ========================================================================

// @mixin hook-modal-close(){}

// @mixin hook-modal-close-hover(){}

// @mixin hook-modal-close-default(){}

// @mixin hook-modal-close-default-hover(){}

// @mixin hook-modal-close-outside(){}

// @mixin hook-modal-close-outside-hover(){}



// @mixin hook-modal-close-full-hover(){}


// Miscellaneous
// ========================================================================

// @mixin hook-modal-misc(){}
